receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  policy:
    providers:
      - type: file
        id: local
        path: /etc/tero-collector/policies.json

exporters:
  debug:
    verbosity: detailed

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [policy]
      exporters: [debug]
    traces:
      receivers: [otlp]
      processors: [policy]
      exporters: [debug]
