receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  memory_limiter:
    check_interval: 1s
    limit_mib: 512
  policy:
    providers:
      - type: file
        id: default
        path: /etc/tero-collector/policies.json

exporters:
  debug:
    verbosity: detailed

extensions:
  healthcheckv2:
    endpoint: 0.0.0.0:13133
  zpages:
    endpoint: 0.0.0.0:55679

service:
  extensions: [healthcheckv2, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch, policy]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch, policy]
      exporters: [debug]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch, policy]
      exporters: [debug]
